# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.log

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store

# Uploads and logs
uploaded_file_*
storage/
